name: "local"
is_done_tick_dot_com: true
telegram:
  token: ""
database:
  type: "sqlite"
  migration: true
jwt:
  secret: "secret"
  session_time: 168h
  max_refresh: 168h
server:
  port: 8000
  read_timeout: 2s
  write_timeout: 1s
  rate_period: 60s
  rate_limit: 200
  cors_allow_origins:
    - "http://localhost:5173"

scheduler_jobs:
  due_job: 30m
  overdue_job: 3h
  pre_due_job: 3h
email:
  host: 
  port: 
  key: 
  email:  
  appHost:  
